@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

:root {
  box-sizing: border-box;
  font-family: 'Montserrat', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --card-background: rgba(252, 247, 233, 0.9);
  --containers-background: rgba(248, 244, 234, 0.90);
  --new-book-background: rgb(87, 155, 177);
  --add-book-background: rgb(255, 105, 105);
  --light-gray: rgba(58, 58, 58, 0.404);
  --gray: rgb(85, 85, 85);
  --gold: rgb(212, 175, 55);
  --silver: rgb(192,192,192);
  --read-button-background: rgb(160, 196, 157);
  --favorite-button-background: rgb(255, 224, 133);
  --delete-button-background: rgb(233, 119, 119);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(./images/library-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  margin: 20px;
  border: 3px solid var(--gold);
  border-radius: 10px;
  background-color: var(--containers-background);
}

header > h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Vollkorn', serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 55px;
}

.main {
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  background-color: var(--containers-background);
  width: 650px;
  min-width: 530px;
  padding: 0 30px 0 30px;
  margin: 20px;
  border: 3px solid var(--gold);
  border-radius: 10px;
}

.left-side h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray);
}

.new-book-button,
.add-book-button {
  font-size: 1.1rem;
  font-weight: 500;
  background-color: var(--new-book-background);
  color: var(--containers-background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
  width: 200px;
  height: 40px;
}

.new-book-button {
  background-color: var(--new-book-background);
}

.new-book-button:active,
.add-book-button:active,
.apply-button:active,
.search-button:active,
.book-cards > div > div:last-child > button:active {
  transform: translateY(1px);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.514);
}

button > img {
  vertical-align: middle;
  filter: invert(97%) sepia(6%) saturate(351%) hue-rotate(354deg) brightness(96%) contrast(93%);
}

button > span {
  vertical-align: middle;
}

form {
  margin-top: 20px;
}

form > div {
  margin: 10px;
}

form label,
.filters-search-container {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--gray);
}

form input[type="text"],
form textarea,
form select,
.filters-search-container select,
.filters-search-container input[type="search"] {
  background-color: var(--containers-background);
  border: 1px solid var(--light-gray);
  color: var(--gray);
  border-radius: 7px;
  padding-left: 10px;
  margin-left: 5px;
}

form input[type="text"],
form select {
  height: 25px;
  width: 350px;
}

form textarea {
  height: 100px;
  width: 300px;
  resize: none;
}

form input[type="text"]:focus,
form textarea:focus,
form select:focus {
  outline: none;
  border: solid 1px var(--new-book-background);
}

form input[type="checkbox"] {
  accent-color: var(--new-book-background);
  transform: scale(1.2);
}

.book-observation {
  display: flex;
  align-items: center;
}

.add-book-button {
  background-color: var(--add-book-background);
  margin: 10px 10px 20px 0;
  float: right;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 30px 0 30px;
  background-color: var(--containers-background);
  padding: 0 30px 30px 30px;
  margin: 20px 20px 20px 0;
  border: 3px solid var(--gold);
  border-radius: 10px;
}

.right-side h3 {
  color: var(--gray);
  font-size: 1.6rem;
  margin-bottom: 0;
  min-width: 460px;
}

.filters-search-container {
  display: flex;
  padding: 1rem 0 0.5rem 0;
}

.filters-container,
.search-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  margin-left: auto;
  flex: 1;
  padding: 0 1rem 0 1rem;
}

.search-container input[type="search"] {
  flex-grow: 1;
}

.apply-button,
.search-button {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--new-book-background);
  color: var(--containers-background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
  width: 110px;
  height: 24px;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 15px;
  padding-top: 10px;
}

.book-cards > div {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  padding: 0 20px 20px 20px;
  border: 3px solid var(--silver);
  border-radius: 10px;
}

.book-cards h4 {
  margin: 20px 0 0 0;
  font-size: 1.2rem;
}

.book-cards > div > p:nth-child(2) {
  margin: 5px 0 0 0;
  font-size: 0.8rem;
  color: var(--gray);
  text-align: end;
}

.book-cards > div > p:nth-child(3) {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: var(--gray);
  /* max-width: 20px; */
}

.book-cards > div > p:nth-child(4) {
  margin: 10px 0 20px 0;
  font-size: 0.8rem;
  color: var(--gray);
}

.book-cards > div > div:last-child {
  display: flex;
  margin-top: auto;
  gap: 20px;
}

.book-cards > div > div:last-child > button {
  font-size: 1rem;
  font-weight: 500;
  color: var(--containers-background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.514);
  width: 70px;
  height: 30px;
}

.book-cards > div > div:last-child > button:first-child {
  background-color: var(--read-button-background);
}

.book-cards > div > div:last-child > button:nth-child(2) {
  background-color: var(--favorite-button-background);
}

.book-cards > div > div:last-child > button:last-child {
  margin-left: auto;
  background-color: var(--delete-button-background);
}

.book-cards > div > div:last-child > button > img {
  width: 28px;
  height: auto;
}

.read {
  filter: invert(44%) sepia(46%) saturate(251%) hue-rotate(124deg) brightness(102%) contrast(86%);
}

.favorite {
  filter: invert(86%) sepia(19%) saturate(3989%) hue-rotate(331deg) brightness(107%) contrast(102%);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 30px 0 30px;
  border: 3px solid var(--gold);
  border-radius: 10px;
  background-color: var(--containers-background);
  font-weight: 600;
}

.hidden {
  display: none;
}